#cvte add start
on init
    chmod 0777 /bin/systemcontrol_static
    chmod 0777 /sbin/remotecfg
    exec /sbin/sh /sbin/fix_perm.sh
    exec /sbin/sh /sbin/fix_mr_paths.sh
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 0
    setprop vendor.usb.controller ff400000.dwc2_a
    start console
    symlink /system/bin/fastbootd /sbin/fastbootd

#cvte add end

on fs

on post-fs-data
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

    setprop persist.sys.usb.config adb
    setprop sys.usb.config adb
#cvte add end

on boot
    # Принудительный 1080p и правильный виртуальный размер
    write /sys/class/graphics/fb0/window_axis "0 0 3839 2159"
    write /sys/class/graphics/fb0/free_scale_axis "0 0 1919 1079"
    write /sys/class/graphics/fb0/free_scale 0x10001
    write /sys/class/graphics/fb0/pan 0,0
    write /sys/class/usb_role/ffe09000.usb-role-switch/role host

    mkdir /config/usb_gadget/g1 0770
    mkdir /config/usb_gadget/g1/strings/0x409 0770
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x4e40
    write /config/usb_gadget/g1/bcdDevice 0x0100
    write /config/usb_gadget/g1/bcdUSB 0x0200
    write /config/usb_gadget/g1/strings/0x409/serialnumber 0123456789ABCDEF
    write /config/usb_gadget/g1/strings/0x409/manufacturer Amlogic
    write /config/usb_gadget/g1/strings/0x409/product "TWRP"

    # Только ADB и fastboot (без MTP)
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/fastboot

    mkdir /config/usb_gadget/g1/configs/b.1 0770
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/fastboot /config/usb_gadget/g1/configs/b.1/f2

    mkdir /dev/usb-ffs 0775 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

    write /config/usb_gadget/g1/UDC ${vendor.usb.controller}

    start adbd
    start fastbootd

service adbd /sbin/adbd --root_seclabel=u:r:su:s0
    class core
    socket adbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0

service fastbootd /system/bin/fastbootd
    class core
    disabled
    oneshot

on property:sys.usb.config=adb
    write /config/usb_gadget/g1/idProduct 0x4e40
    write /sys/class/usb_role/ffe09000.usb-role-switch/role device
    write /config/usb_gadget/g1/UDC ${vendor.usb.controller}
    start adbd

on property:ro.bootmode=recovery
    start adbd
    start fastbootd

service telnetd /sbin/busybox telnetd -p 2323 -l /sbin/sh
    class main
    disabled

service ncd /sbin/busybox nc -l -p 5555 -e /sbin/sh
    class main
    disabled

on property:ro.debuggable=1
    start telnetd
    start ncd

service console /system/bin/sh
    class core
    console
    disabled
    user root
    group shell log readproc
    seclabel u:r:shell:s0
    setenv HOSTNAME console

service remotecfg1 /sbin/remotecfg -c /sbin/remote_nec.cfg -t /sbin/remote_nec_ircus1.tab -d
    oneshot
    seclabel u:r:recovery:s0

service remotecfg2 /sbin/remotecfg -c /sbin/remote_nec.cfg -t /sbin/remote_nec_ircus2.tab -d
    oneshot
    seclabel u:r:recovery:s0

service remotecfg3 /sbin/remotecfg -c /sbin/remote_nec.cfg -t /sbin/remote_nec_irfac.tab -d
    oneshot
    seclabel u:r:recovery:s0
